//reset for cross-browser consistency
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, button, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
//defaults
* {
	box-sizing: border-box;
}
:root{
	font-size: 16px;
}
button {
	border: none;
	outline: none;
}

//fonts import
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap');

//variables
$color-dark: rgb(11, 13, 23);
$color-warm: rgb(255, 255, 255);
$color-cold: rgb(208, 214, 249);
$color-grey: rgba(255, 255, 255, 0.3);
$font-main: 'Bellefair', serif;
$font-secondary: 'Barlow Condensed', sans-serif;
$font-para: 'Barlow', sans-serif;

//mixins
@mixin para {
	font-family: $font-para;
    font-size: 18px;
    letter-spacing: 0.05rem;
    line-height: 2rem;
    color: $color-cold;

	@media screen and (max-width: 991px){
		text-align: center;
		font-size: 16px;
		line-height: 1.8rem;
	}
	@media screen and (max-width: 575px){
		font-size: 14px;
		line-height: 1.5rem;
	}
}

@mixin subhead-num {
	margin-right: 5%;
	font-family: $font-secondary;
	font-size: 32px;
	font-weight: 700;
	letter-spacing: 0.2rem;
	color: $color-grey;

	@media screen and (max-width: 991px){
		font-size: 24px;
		margin-left: 5%;
		margin-right: 2%;
	}
	@media screen and (max-width: 575px){
		font-size: 16px;
		margin-right: 5%;
	}
}

@mixin subhead-text {
	font-family: $font-secondary;
	font-size: 32px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	color: $color-warm;
	@media screen and (max-width: 991px){
		font-size: 24px;
	}
	@media screen and (max-width: 575px){
		font-size: 16px;
	}
}

@mixin label {
	font-family: $font-secondary;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 0.08rem;
	color: $color-cold;
	@media screen and (max-width: 991px){
		margin-bottom: 4%;
	}
}

@mixin value {
	font-family: $font-main;
	font-size: 28px;
	text-transform: uppercase;
	color: $color-warm;
}